


#contact { float:right; 

           
}

#contact ul { padding: 0; 
              margin: 0;
              list-style-type:none; 
              }



#me { float:right;
      width:220px;
      margin-left:2em;
	margin-bottom:1em}

.header { text-align: left; }

h1 {  padding-top:.5em ; white-space:nowrap; }

#summary { /* margin-bottom:1em; */
           font-weight:bold;
		   /* color:#555; */
	 }

#affiliations{
               list-style-type:none; padding:0;
               font-size:90%;
               }

#cv {  font-size: smaller; /* margin-top:2em;  */
	   font-weight:bold }

#start {
    /* clear:both; */
    /* padding-top:1em; */
    
}


#publications {
    list-style-type:none;
    padding-left: 0;
}

#publications li {
    clear:both;
    margin-bottom: 1em;
    min-height: 60px;
}


img.logo {   float:left; margin-right: 0.5ex }

ul#news { list-style-type:square; }
ul#projects { list-style-type:square; }
ul#news li { padding-bottom:1em; }
ul#misc {list-style-type:square; }

#video-left {  width:300px; height:300px; float:left; border: 0; margin:auto}
#video-right {  width:300px; height:300px; float:right; border: 0; margin:auto}

h2#news { clear:none; }