/* @font-face { */
/*   font-family: 'Linux Libertine'; */
/*   src: url('../fonts/linux-libertine-regular.ttf') format('truetype'); */
/* } */

body {

    margin: auto;
    max-width: 38em;
    padding: 0 1em;
    color: #222;
    background: #fcfcfc;

    font-family: Bitstream Charter, Charter, Georgia, Serif;
    font-kerning: normal;
    font-feature-settings: "kern" 1;
    font-optical-sizing: auto;
    
    line-height: 150%;
    text-align: justify;

}


code { font-size: 11pt; }

#home {
    font-size: 0.7em;
    text-align: right;
    padding-right:0em;
}

img {
    margin-left:auto;
    margin-right:auto;
    display: block;
}

@media print {

    body {
	font-size:13px;
    }

}

blockquote {
    border-left: 0.5ex solid lightgray;
    padding-left: 1ex;
    font-style: italic;
    color: #666;
    margin: 0;
    padding: 0 1em;
}


/* input[type=checkbox]:checked ~ div ul#markdown-toc { */
/* 	display: block; */
/* 	height: auto; */
/* } */

#markdown-toc {
    padding: 1em 1em;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* right: -60%; */
    /* overflow-y: scroll; */
}

/* mobile touchscreens */
@media (hover: none) {
    /* ... */
    body {
	margin-left: auto;
	font-size: 2.2vw;
    }
    
}

/* desktop */
@media (hover: hover) {
    /* ... */
    body {
	margin-left: 21em;
	font-size: 13pt;	
    }

    #markdown-toc {
        position: sticky;
        float: left;
        top: 0;
        max-width: 16em;
        margin-left: -19em;
        margin-top: -6em;
	marging-right: 0;
    }
    
}


/* #markdown-toc { */
/* 	height:0; */
/* 	font-size:75%; */
/* 	max-height: 100%; */
/* 	display:none; */
/* } */

#markdown-toc ol {
    padding: 0 .5em;
    text-align: left;
}



/* #markdown-toc a { */
/* 	opacity: 0.5; */
/* } */

#markdown-toc li {
    /* list-style-type: none; */
}

#markdown-toc li li {
    list-style-type: none;
}


/* #markdown-toc a:link:hover { */
/* 	opacity: 1; */
/* } */


a:link {
    color: #34a;
    text-decoration: none;
    font-weight: bold;
}

h1 ~ div.MathJax_Display {
    display:none;
}

span.section-number-2:after {
    content: ".";
}

h1 {
    margin: 1em 0;
    line-height: 120%;
    text-align:left;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.1em;
    
}

h1:first-of-type {
    text-align: center;
}

body {
    counter-reset: section;
}


h1:not(:first-of-type):before {
    /* position: relative; */
    /* left: -1em; */
    counter-increment: section;
    content: counter(section) ". ";
}


#references {

}

li > #markdown-toc-references {
    list-style-type: none;
}
#references:before {
    content:"";
}

a.footnote:before {
    content: "(";
    color: #666;
}

a.footnote:after {
    content: ")";
    color: #666;    
}


h2 {
    margin: 2em 1em 0 0;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 0.3em;
}

h3 {
    margin: 2em 1em 0 0;
    padding-bottom: 0;
}

#postamble {
    font-size: 80%;
    text-align:center;
    margin: 2em 1em 0 0;
    color: #aaa
}

#postamble a {
    color: #67a
}


#postamble p {
    display:inline;
    padding: 0 0.5em;
}


div.algorithm ul {
    list-style-type:none;
}

div.algorithm li ul {
    border-left: 2px solid lightgrey;
}

div.algorithm {
    /* width:%; */
}

div.algorithm em {
    margin: 0 auto;
    float:right;
    color: grey;
}

#footer {
    margin:2em;
    opacity: 0.5;
    font-size:smaller;
    text-align:center;
}

#cc {
    height:0.9em;
}



p img {
    height: 20em;
    width: auto;
}



img.icon { width:1em; height:1em; padding:.1em; vertical-align: middle; margin-right: .5ex; display: inline }
