
body {

	margin: auto;
	max-width: 40em;

	color: #222;
	background: #fafafa;

	font-family: Iowan Old Style, Palatino, Georgia, Serif;
	line-height: 150%;
	text-align: justify;
	
}


#home {
	font-size: 0.5em;
	text-align: right;
	padding-right:2em;
}

img {
	margin-left:auto;
	margin-right:auto;
	display: block;
}

@media print {

	body {
		font-size:13px;
	}

}


/* input[type=checkbox]:checked ~ div ul#markdown-toc { */
/* 	display: block; */
/* 	height: auto; */
/* } */

#markdown-toc {
	padding: 0 1em;
}

/* #markdown-toc { */
/* 	height:0; */
/* 	font-size:75%; */
/* 	max-height: 100%; */
/* 	display:none; */
/* } */

#markdown-toc ol {
	padding: 0 1.5em;
}



/* #markdown-toc a { */
/* 	opacity: 0.5; */
/* } */

#markdown-toc li {
	/* list-style-type: none; */
}

#markdown-toc li li {
	list-style-type: none;
}


/* #markdown-toc a:link:hover { */
/* 	opacity: 1; */
/* } */


a:link {
	color: #24a;
	text-decoration: none;
	font-weight: bold;
}

h1 ~ div.MathJax_Display {
	display:none;
}

span.section-number-2:after {
	content: ".";
}

h1 {
	margin: 1em 0;
	line-height: 120%;
	text-align:left;
    
}

h1:first-of-type {
	text-align: center;
}

body {
    counter-reset: section;
}
    

h1:not(:first-of-type):before {
    /* position: relative; */
    /* left: -1em; */
    counter-increment: section;
    content: counter(section) ". ";
}


#references {

}

li < #markdown-toc-references {
    list-style-type: none;
}
#references:before {
    content:"";
}

h2 {
	margin: 2em 1em 0 0;
}

h3 {
	margin: 2em 1em 0 0;
}

#postamble {
	font-size: 80%;
	text-align:center;
	margin: 2em 1em 0 0;
	color: #aaa
}

#postamble a {
	color: #67a
}


#postamble p {
	display:inline;
	padding: 0 0.5em;
}


div.algorithm ul {
	list-style-type:none;
}

div.algorithm li ul {
	border-left: 2px solid lightgrey;
}

div.algorithm {
	/* width:%; */
}

div.algorithm em {
	margin: 0 auto;
	float:right;
	color: grey;
}

#footer {
	margin:2em;
	opacity: 0.5;
	font-size:smaller;
	text-align:center;
}

#cc {
	height:0.9em;
}



p img {
	height: 20em;
	width: auto;
}
