.highlight { background-color: #444; color: white; border-radius: 0.8ex; padding: 0 1ex; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: cyan; } /* Keyword */
.highlight .o { color: gold; } /* Operator */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .c1 { color: darkorange; } /* Comment.Sle */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Head */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subhead */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */

.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: cyan; font-weight: normal } /* Keyword.Reserved */
.highlight .kt { color: palegreen; font-weight: normal } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: lightsalmon } /* Literal.Str */
.highlight .n { color: skyblue; } /* Name.Attribute */
.highlight .p { color: white; } /* Name.Attribute */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: gold } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: skyblue } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: palegreen; } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: white; } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: lightgray } /* Literal.Number.Float */
.highlight .mh { color: lightgray } /* Literal.Number.Hex */
.highlight .mi { color: lightgray } /* Literal.Number.Integer */
.highlight .mo { color: lightgray } /* Literal.Number.Oct */
.highlight .sb { color: #BB4444 } /* Literal.Str.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.Str.Char */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.Str.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.Str.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.Str.Escape */
.highlight .sh { color: #BB4444 } /* Literal.Str.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.Str.Interpol */
.highlight .sx { color: #008000 } /* Literal.Str.Other */
.highlight .sr { color: #BB6688 } /* Literal.Str.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.Str.Sle */
.highlight .ss { color: #B8860B } /* Literal.Str.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
