body {
    /* width: 48em; */
	max-width: 45em;
}

#personal { 
            float:left;
            
            }

#contact { 
           float:right;
           text-align: right;
           padding-top:0;
           }

ul { 
     list-style-type:none;
     padding: 0;
     margin-top: 0;
     margin-bottom: 1em;
     }

ul.strong li:first-child { 
                           font-weight: bolder;
                           }

ul.strong li { margin:0; margin-bottom: .3em;  }

tr { 
     padding-top:1em;
     padding-bottom:2em;
     }

td { 
     vertical-align: top;
     padding: 0 1em;
     }

tr td:first-child {  
    white-space: nowrap; 
    padding-left: 0; 
}

#title { 
         clear: both;
         padding-top:0.9em;
         padding-bottom:0.8em;
         }


address { font-style:normal;  }

/* table.work td:first-child { text-align:left; } */

table.work tr { margin-top:0.5em; margin-bottom:0.5em }

h2 { margin-top:1.2em }
table{  font-size:90%; }

table tr td:first-child { max-width:8em; text-align: center;}
td:first-child em { display:block; text-align:center; padding-top:0.8em; font-size:smaller}


p { max-width: 42em; }

