<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/note.css" >
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" >
	<script type="text/javascript"
			src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" >
	</script>
  </head>
  <body>
	<div id="home"><a href="./">UP</a></div>
	<div style="visibility:hidden;margin:0;padding:0;width:0;height:0">
	  {% include math.md %}
	</div>
	<h1>{{ page.title }}</h1>
	{{ content }}
  </body>
</html>

